{% extends 'base_auth.html.twig' %}

{% block form_title %}Crie sua Conta{% endblock %}
{% block form %}

<div>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.plainPassword.second) }}

</div><br />

<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    Concordo com os <a href="#" target="_blank">Termos e Condições</a>
</label>

<button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Criar</button>
{{ form_end(form) }}

{% endblock %}