{% extends 'base.html.twig' %}


{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="m-b-1 m-l-2">
            <a href="{{ path('film_new') }}" class="btn btn-outline-info">Sugerir</a>
            <a href="{{ path('profile_films') }}" class="btn purple">Minhas Sugestões</a>
        </div>
        {% for film in films %}
                <div class="d-flex justify-content-center m-0" >
                    <div class="m-4 film-object shadow bg-white">
                        <h4 class="m-b-3">
                            {% if film.title %}
                                Título: <span class="text-info"><strong>{{ film.title }}</strong></span>
                            {% else %}
                                Título: <span class="text-warning">Não há título disponível</span>
                            {% endif %}
                        </h4>

                        <iframe width="560" height="315" src="{{ film.getYouTubeEmbed }}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <p>
                        <h5 class="m-t-2"><strong>Comentários</strong></h5>
                        {% if film.comment %}
                            {{ film.comment | raw }}
                        {% else %}
                            <span class="text-warning">Não há comentário disponível</span>
                        {% endif %}
                        </p>
                        <p>
                            Disciplina: {{ film.content.subject | capitalize }}<br/>
                                Conteúdo: <span class="lime-green"><strong>{{ film.content }}</strong></span>
                        </p>

                        <p>
                            Disponível em:
                            <a href="http://{{ film.description }}" target="_blank">{{ film.description }}</a>
                        </p>
                    </div>
                </div>
        {% endfor %}

    </div>
    {{ include('_side_filter.html.twig', {
        'contents':contents, 'subjects': subjects,
        'profile_subject': profile_subject,
        'path': 'films'}
        )
    }}
</div>
{% endblock %}
