{% extends 'base.html.twig' %}

{% block content %}
    <div class="row" >
        <div class="col-md-8">
            <h5>Atividades Recentes</h5>
            <div class="card" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ lorem_ipsum }}</li>
                    <li class="list-group-item">{{ lorem_ipsum }}</li>
                    <li class="list-group-item">{{ lorem_ipsum }}</li>
                </ul>
            </div>
            <br/>
            <h5>Sobre o ScioApp</h5>
            <div class="card" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>
                            {{ lorem_ipsum }}
                            {{ lorem_ipsum }}
                            {{ lorem_ipsum }}
                        </p>
                        <a  href="#" class="btn btn-outline-info mt-2 text-info">
                            Saiba Mais
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4" style="padding-left: 40px">
            <h5 class="invisible">Side Div</h5>
            <div>
                <div class="row" style="margin: auto; width: 330px">
                    <div class="panel panel-primary panel-dark" style="width: 330px">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>Recent tasks</span>
                        </div>
                        {% for i in 1..10 %}
                            <div class="widget-tasks-item">
                                <span class="label label-warning pull-right">High</span>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="widget-tasks-title">A very important task</span>&nbsp;&nbsp;
                                    <span class="widget-tasks-timer">1 hour left</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" style="margin: auto; width: 330px">
                    <div class="panel panel-danger panel-dark" style="width: 330px">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>New users</span>
                            <div class="panel-heading-controls">
                                <ul class="pagination pagination-xs">
                                    <li><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>E-mail</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="valign-middle">
                                {% for i in 1..5 %}
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="assets/demo/avatars/2.jpg" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">@rjang</a>
                                    </td>
                                    <td>Robert Jang</td>
                                    <td>rjang@example.com</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}