{% extends 'base.html.twig' %}


{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="m-b-1 m-l-2">
            <a href="{{ path('paper_new') }}" class="btn btn-outline-info">Sugerir</a>
            <a href="{{ path('profile_papers') }}" class="btn purple">Minhas Sugestões</a>
        </div>
        {% for paper in papers %}
                <div class="d-flex justify-content-center m-0" >
                    <div class="m-4 film-object shadow bg-white">
                        <h4 class="m-b-3">
                            {% if paper.title %}
                                Título: {{ paper.title }}
                            {% else %}
                                Título: <span class="text-warning">Não há título disponível</span>
                            {% endif %}
                        </h4>
                        <p>
                        <h5 class="m-t-2"><strong>Comentários</strong></h5>
                        {% if paper.comment %}
                            {{ paper.comment | raw }}
                        {% else %}
                            <span class="text-warning">Não há comentário disponível</span>
                        {% endif %}
                        </p>
                        <p>
                            Disciplina: {{ paper.content.subject | capitalize }}<br/>
                            Conteúdo: {{ paper.content }}
                        </p>

                        <p>
                            Disponível em:
                            <a href="{{ paper.description }}" target="_blank">{{ paper.description }}</a>
                        </p>
                    </div>
                </div>
        {% endfor %}

    </div>
    {{ include('_side_filter.html.twig', {
        'contents':contents, 'subjects': subjects,
        'profile_subject': profile_subject,
        'path': 'papers'}
        )
    }}
</div>
{% endblock %}
