<div id="mySidenav" class="sidenav">
    <ul class="fixed-top">
        <li class="nav-item menu">
            <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon icon ion-person"></i>Minha Conta
            </a>
            <ul class="collapse submenu" id="accountSubmenu">
                <li>
                    <a href="{{ path('profile_show', {'id': app.user.profile.id}) }}">Perfil</a>
                </li>
                <li>
                    <a href="#">Avaliações</a>
                </li>
                <li>
                    <a href="#">Editar</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#exercisesSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-ios-list"></i> Questões
            </a>
            <ul class="collapse submenu" id="exercisesSubmenu">
                <li>
                    <a href="#">Minhas Questões</a>
                </li>
                <li>
                    <a href="#">Pesquisar</a>
                </li>
                <li>
                    <a href="#">Nova</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#slidesSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-android-image"></i>Slides
            </a>
            <ul class="collapse submenu" id="slidesSubmenu">
                <li>
                    <a href="{{ path('profile_slides') }}">Meus Slides</a>
                </li>
                <li>
                    <a href="{{ path('slides') }}">Pesquisar</a>
                </li>
                <li>
                    <a href="{{ path('slide_new') }}">Novo</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#projectsSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-android-document"></i>Projetos
            </a>
            <ul class="collapse submenu" id="projectsSubmenu">
                <li>
                    <a href="{{ path('profile_projects') }}">Meus Projetos</a>
                </li>
                <li>
                    <a href="{{ path('projects') }}">Pesquisar</a>
                </li>
                <li>
                    <a href="{{ path('project_new') }}">Novo</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#plainsSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-ios-keypad"></i>Planos de Aula
            </a>
            <ul class="collapse submenu" id="plainsSubmenu">
                <li>
                    <a href="{{ path('lesson_plains') }}">Meus Planos de aula</a>
                </li>
                <li>
                    <a href="{{ path('profile_lesson_plains') }}">Pesquisar</a>
                </li>
                <li>
                    <a href="{{ path('lesson_plain_new') }}">Novo</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#filmSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-ios-play"></i>Vídeos
            </a>
            <ul class="collapse submenu" id="filmSubmenu">
                <li>
                    <a href="{{ path('profile_films') }}">Minhas Sugestões de Vídeos</a>
                </li>
                <li>
                    <a href="{{ path('films') }}">Pesquisar</a>
                </li>
                <li>
                    <a href="{{ path('film_new') }}">Sugerir Novo</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#paperSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-ios-paper-outline"></i>Artigos
            </a>
            <ul class="collapse submenu" id="paperSubmenu">
                <li>
                    <a href="{{ path('profile_papers') }}">Minhas Sugestões de Artigos</a>
                </li>
                <li>
                    <a href="{{ path('papers') }}">Pesquisar</a>
                </li>
                <li>
                    <a href="{{ path('paper_new') }}">Sugerir Novo</a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu">
            <a href="#testSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="nav-icon ion-checkmark"></i>Provas
            </a>
            <ul class="collapse submenu" id="testSubmenu">
                <li>
                    <a href="#">Minhas Provas</a>
                </li>
                <li>
                    <a href="#">Nova</a>
                </li>
            </ul>
        </li>
    </ul>
</div>